# Day 1 - 파이썬 기초 (20.01.13)
- 파이썬 기본

1. 자료형 (int, float, boolean, set, dict, tuple, list)
2. input 방법
3. 문자열

In [1]:
x = None
print(x)
type(x)

None

NoneType

In [2]:
sentence = """Hello world,
Hello Python"""
print(sentence)

Hello world,
Hello Python

In [3]:
s = "hello world"
s[:-1]

'hello worl'

In [4]:
name = "tom"
age = 12
print("I am %s" % name)
print("I am %s, %d years old" % (name, age))

I am tom
I am tom, 12 years old

In [5]:
# format 함수
"I like {0}, {1}".format("apple", "banana")

'I like apple, banana'

In [6]:
# f 문자열 
math = 95
english = 65
science = 40
print(f"수학점수: {math}\n영어점수: {english}\n과학점수:{science}")

수학점수: 95
영어점수: 65
과학점수:40

In [8]:
a = "20190505chicken19000"
# a[1:3] = 1부터 3 전까지 자르기
# a[1:4:2] = 1부터 4 전까지 2칸 넘어 자르기?
# a[-1] = 뒤에서 첫번째
year = a[:4]
day = a[4:8]
menu = a[8:15]
money = a[-5:]
print(year, day, menu, money)

2019 0505 chicken 19000

In [13]:
a = "90:30:80"
# indexing 이용해서 자르기
math = int(a[:2])
english = int(a[3:5])
science = int(a[-2:])
average = (math + english + science) / 3 # 평균값
print("평균 점수는 %.2f 입니다." % average )

평균 점수는 66.67 입니다.

In [20]:
word = "Apple Banana"
print(len(word))
print(word.index("a"))
print(word.upper())
print(word.lower())
print(word.replace("Banana", "Orange"))

12
7
APPLE BANANA
apple banana
Apple Orange

In [24]:
word = "     Apple Orange     "
word.strip()

'Apple Orange'

In [29]:
scores = "10:20:30:50:80:88:90:100"
a = scores.split(":")
a

['10', '20', '30', '50', '80', '88', '90', '100']

In [32]:
score_list = ['10', '20', '30', '50', '80', '88', '90']
",".join(score_list)

'10,20,30,50,80,88,90'

## 리스트와 튜플

In [36]:
a = [1,2,3,4,5,6,7]
type(a)
a = [1, "apple", 3.14, False]
type(a)

list

In [37]:
# 빈 리스트 만들기
a = []
a = list()

In [38]:
b = (1,2,3,4,5,6)
type(b)

tuple

In [39]:
b = (1, "apple", 3.14, False)
type(b)

tuple

In [40]:
# 빈 튜플 만들기
b = ()
b = tuple()

In [41]:
a = [1,2,3,4,5]
tuple(a)

(1, 2, 3, 4, 5)

In [42]:
a = (1,2,3,4,5)
list(a)

[1, 2, 3, 4, 5]

In [52]:
a = [1,2,3,4,5,6,7,8,9,10]
a[2:9:2]

[3, 5, 7, 9]

In [54]:
# 요소 삭제
a = [1,2,3,4,5,6,7,8,9,10]
del a[2:5]
a

[1, 2, 6, 7, 8, 9, 10]

In [58]:
a = [1,2,3,4,5]
len(a)

5

In [67]:
a = [1,2,3,4,5]
a.append(6)
print(a)
a.extend([7,8,9])
print(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
a = [1,2,3]
a.insert(2, 100)
a

[1, 2, 100, 3]

In [65]:
a = [1,2,3,4,5]
a.pop()
print(a)
a.pop(0)
print(a)

[1, 2, 3, 4]
[2, 3, 4]

In [66]:
a = [100,200,300]
a.remove(200)
a

[100, 300]

In [72]:
a = [1,2,300,4,5]
a.index(300)

2

In [79]:
a = [1,1,2,3,2,4,2,5,2,6]
# a.count(2)
# a.reverse()
a.sort()
a

[1, 1, 2, 2, 2, 2, 3, 4, 5, 6]

In [81]:
a = [1,2,3,4,5]
b = a
b[0] = 10
print(a, b)
print(a is b)

[10, 2, 3, 4, 5] [10, 2, 3, 4, 5]
True

In [82]:
a = [1,2,3,4,5]
b = a.copy()
b[0] = 10
print(a, b)
print(a is b)

[1, 2, 3, 4, 5] [10, 2, 3, 4, 5]
False

In [83]:
score = {"name": "Tom", "math": 80, "english": 70}
print(score)
score = dict(name="Tom", math=80, english=70)
print(score)

{'name': 'Tom', 'math': 80, 'english': 70}
{'name': 'Tom', 'math': 80, 'english': 70}

In [86]:
"math" in score

True

In [87]:
len(score)

3

In [88]:
score.setdefault("age", 20)
score

{'name': 'Tom', 'math': 80, 'english': 70, 'age': 20}

In [89]:
score.update({ "math": 90 })
score

{'name': 'Tom', 'math': 90, 'english': 70, 'age': 20}

In [94]:
score = dict(name="Tom", math=80, english=70)
score.pop("name")
score

{'math': 80, 'english': 70}

In [95]:
score.clear()
score

{}

In [98]:
score = dict(name="Tom", math=80, english=70)
print(score.keys())
print(score.values())
print(score.items())

dict_keys(['name', 'math', 'english'])
dict_values(['Tom', 80, 70])
dict_items([('name', 'Tom'), ('math', 80), ('english', 70)])